* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table{
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 10px;
  overflow: hidden;


}

.table thead tr{
  background-color: #413F61C1;
  color: white;
  text-align: center;
  height: 60px;
}

.table thead td, .table thead th{
  padding: 15px;
}

.table tbody tr{
  border-bottom: 1px solid rgba(186, 186, 186, 0.57);
  height: 60px;
  text-align: center;
}

.table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type{
  border-bottom: 2px solid #413F61C1
}

.form-container {
  background-color: rgba(204, 204, 204, 0.37);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  width: 30%;


}

.form-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

}

.input-fields {

  display: flex;
  flex-direction: column;
  flex: 1; /* Ensures responsiveness */
}

.input-fields label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-fields input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
.details-checkbox{
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px;
  margin-top: 10px;
}
.form-actions button {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.save-button {
  background-color: rgba(105, 103, 174, 0.76);
  color: white;
}
.save-button:hover {
  background-color: rgb(105, 103, 174);
}


.cancel-button {
  background-color: #413F61C1;
  color: white;
}
.cancel-button:hover{
  background-color: rgba(106, 103, 143, 0.76);
}

.form-actions button i {
  font-size: 15px; /* Adjust icon size */
}


@media (max-width: 768px) {
  .form-row {
    flex-direction: column; /* Stacks fields on small screens */
  }
  .form-container{
    width: fit-content;
  }
}
