* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #000000;
  padding: 15px;
  margin: 0;

}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav {
  display: none;
}

nav.open {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul li {
  margin: 0 10px;
}

ul li a {
  color: white;
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
}

.calendar, .profile {
  margin: 0 10px;
  cursor: pointer;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.62); /* You can change this to any color */
  padding: 10px; /* Adds space around the icon */
  border-radius: 50%; /* Makes the background circular */
  color: white; /* Makes the icon color white */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for modal */
.modal {
  display: flex; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64); /* Dark overlay */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 40px;
  cursor: pointer;
  color: #333;
}

.close:hover {
  color: #5a5a5a;
}

.logo-image {
  width: 180px; /* You can adjust the size as needed */
  height: auto;  /* Ensures the aspect ratio of the logo image is maintained */
  display: block; /* Ensures no extra space around the image */
}
