.dialog-overlay {
  position: fixed; /* Make it float above everything */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800; /* High enough to cover table */
}

.dialog-container {
  background: #fff;
  padding: 1rem;
  max-width: 90vw;  /* instead of fixed 50rem */
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  position: relative;
  z-index: 800; /* Still above everything else */
  overflow-y: auto; /* allow scroll if content is tall */
  max-height: 90vh;
}

.dialog-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(143, 143, 143);
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #000;
}

.dialog-file-container{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 2rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  gap:1rem;
}
.upload-files{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1rem;
  margin-bottom: 2rem;
}

.file-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  height: auto;
}
.file-form input{
  height: 20px;
}
.file-form textarea{
  height: 50px;
}

.btn{
  all: unset;
  background-color: rgba(0, 0, 0, 0.66);
  color:white;

  padding: 6px 10px;
  font-size: 0.8rem;
  cursor: pointer;
}
.dialog-content {
  /*display: flex;*/
  /*justify-content: start; !* centers the table horizontally *!*/
  /*margin-top: 20px;*/
  display: block;
  overflow-x: auto; /* horizontal scroll if table too wide */
  margin-top: 20px;
}

.hidden-datepicker {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.dialog-table{
  border-collapse: collapse;
  width: 100%; /* adjust as needed */
  text-align: center;
  font-size: 14px;

}

.dialog-table th,
.dialog-table td {
  border: 1px solid #333; /* table borders */
  padding: 8px;
}

.dialog-table th {
  background-color: #f2f2f2;
}

.dropdown {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.dropdown-menu{
  width: auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.88);
  list-style: none;
  margin: 0;
  z-index: 99999;
  right: 100%;
  top: 50%;
  border-radius: 5px;
  padding: 0;
}

.dropdown-menu li button {
  width: 100%;
  color: white;
  padding: 8px 5px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.dropdown-menu li button:hover{
  background-color: rgb(113, 112, 112);
}
.menu-btn {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #333; /* Ensures visibility */
}
