@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Geologica:wght@100..900&family=Play:wght@400;700&display=swap');

:root {
  --font-heading: "Dela Gothic One", sans-serif;
  --font-input: "Geologica", sans-serif;
  --font-alt: "Play", sans-serif;
}

/* Apply font globally */
body {
  font-family:  sans-serif;
}



html, body {
  height: 100%;
  margin: 0; /* Remove any default margin */
  padding:0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f1f1f1;
}
