
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Apply font globally */
body {
  font-family:  sans-serif;
}


html, body {
  height: 100%;
  margin: 0; /* Remove any default margin */
  padding: 2px; /* Remove default padding */
  overflow-x: hidden;
  overflow-y: auto;
}

input {
  font-family: 'Noto Sans', sans-serif;
  color: #3a3a3a;
}
